# Python
__pycache__/
*.pyc
venv/
*.db
backend/uploads/*
!backend/uploads/.gitkeep

# Node
node_modules/
.next/
frontend/.env.local

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
