JWT_SECRET=change-this-to-a-random-secret
DB_PATH=./eternova.db
CORS_ORIGINS=http://localhost:3000
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_CLIENT_ID=147074910215-g14cg1i395havabmm56a768pni0imhgv.apps.googleusercontent.com
